@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgb(197, 221, 223);
  font-family: urbanist;

  & button {
    border: none;
    cursor: pointer;
  }
}

.game-name {
  padding: 1rem 0 2rem;
}
.players {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58vmin;
  font-size: 2vmin;
  background-image: linear-gradient(
    to left,
    rgba(0, 138, 138, 0.8),
    rgba(146, 0, 209, 0.8)
  );
  border-radius: 5px 5px 0 0;

  & .player {
    display: flex;
    flex-direction: column;
    padding: 1vmin;
    color: white;
  }

  & .turn-arrow {
    font-size: 3rem;
    color: white;
  }
}

.container {
  margin: 0 auto;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin 2vmin;
  position: relative;

  & .game-starter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 191, 191, 0.1);
    display: block;
  }

  & #winner {
    position: absolute;
    font-size: 0.1vmin;
    transition: all 0.3s ease-in-out;
  }
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #9eb8d9;
  font-size: 8vmin;
  background-color: rgba(255, 255, 255, 0.438);
}

.buttons {
  margin: 0 auto;
  width: 60vmin;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .game-btn {
    background-color: black;
    color: white;
    font-size: 2.2vmin;
    letter-spacing: 1px;
    padding: 2vmin;
    border-radius: 0.1rem;
  }
}

#start-btn {
  animation: start-btn 1.5s infinite ease-in-out alternate-reverse;
}

@keyframes start-btn {
  from {
    background-color: darkcyan;
  }
  to {
    background-color: darkviolet;
  }
}
